.item {
  margin-block: 1rlh;
}

.link::before {
  /* outline: thick solid blue; */
  content: "Link";
  margin-inline-end: 1rem;
  padding-inline: 0.5rem;
  background-color: var(--link-bg-color, gray);
  color: var(--link-color, black);
}

.link[href*="dv.is"]::before {
  content: "dv";
  background-color: red;
  color: white;
  /* margin-inline-end: 1rem;
  padding-inline: 0.5rem; */
}

.link[href*="heimildin"]::before {
  content: "heimildin";
  background-color: gray;
  color: white;
  /* margin-inline-end: 1rem;
  padding-inline: 0.5rem; */
}

.link[href*="visir"]::before {
  content: "visir";
  background-color: blue;
  color: white;
  /* margin-inline-end: 1rem;
  padding-inline: 0.5rem; */
}

.link[href*="mbl"]::before {
  content: "mbl";
  background-color: navy;
  color: white;
  /* margin-inline-end: 1rem;
  padding-inline: 0.5rem; */
}

.headline-time {
  display: block;
  font-size: 0.85rem;
  color: #555;
  margin-top: 0.25rem;
}
